@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-color: rgb(17, 17, 17);
  color: whitesmoke;
  font-family: 'Source Code Pro', monospace;
}

/* Nav bar */
#nav {
  background-color: rgb(17, 17, 17);
}

.list-group-item-dark {
  background-color: rgb(17, 17, 17);
}

.header-nav-link {
  color: whitesmoke;
  font-size: 2em;
}

.header-nav-link:hover {
  color: whitesmoke;
}
/* Landing page */
#landing {
  height: 95vh;
}

#typewriter {
  font-size: 5vh;
  color: whitesmoke;
  margin-left: 1vh;
  font-family: 'Source Code Pro', monospace;  
}

#typewriter:after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

#landing-container{
    height: 95%;
}

.code-keyword{
    color: rgb(236, 20, 20);
}
.code-class-name{
    color:turquoise;
}
.code-variable{
    color: limegreen;
}
.code-value{
    color:darkorange;
}
.code-bracket{
    color:purple;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
