*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
}

a {
  color: #e8e6e3;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #e8e6e3;
}

html {
  background-color: #131516;
  color: #e8e6e3;
  scroll-behavior: smooth;
  font-family:   Ubuntu, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

ol, ul, menu {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  min-width: 250px;
  gap: 1rem;
  padding: 1rem;
}

.landing-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: 80%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  margin: 0;
  min-width: 250px;
  border-top: 0.3rem solid #e8e6e3;
}

@media screen and (min-width: 500px) {
  .menu {
    border-right: 0.3rem solid #e8e6e3;
    border-top: none;
    align-items: flex-start;
  }
}

.menu-link {
  font-size: 3rem;
  text-decoration: none;
}

.title {
  font-size: 10rem;
  line-height: 10rem;
}

.quick-link {
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}