@import url('/shared.css');

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  min-width: 250px;
  gap: 1rem;
  padding: 1rem;
}

.landing-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: 80%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  margin: 0;
  min-width: 250px;
  border-top: 0.3rem solid #e8e6e3;
}

.menu-link {
  font-size: 3rem;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .menu {
    border-right: 0.3rem solid #e8e6e3;
    border-top: none;
    align-items: flex-start;
  }
}


.title {
  font-size: 10rem;
  line-height: 10rem;
}

.quick-link {
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}