.flip-card {
  background-color: transparent;
  max-width: 100%;
  width: 20vw;
  min-width: 160px;
  min-height: 160px;
  height: 20vw;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  transform: rotateX(0deg); /* firefox */
  backface-visibility: hidden;
  background-color: #131516;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-front img {
  border-radius: 0.5rem;
  height: 100%;
}
.flip-card-back h2 {
  width: 90%;
}
.flip-card-back {
  width: 80%;
  height: 80%;
}

.flip-card-back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

@media (hover: hover){
  .no-hover{
    display: none;
  }
}

@media not (hover: hover) {
  .no-hover {
    display: block;
    position: absolute;
    background-color: #131516;
    border-radius: 0.5rem;
    min-width: 70%;
    max-width: 70%;
    padding: 1rem 0;
  }
}